#main {
    overflow: hidden;
}
  
.scroll-section {
	height: 100vh;
	width: 100vw;
}

.horizontal-scroll {
	position: relative;
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.panel {
	width: 100vw;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.inner {
	font-size: 2rem;
	font-weight: bold;
}

.section-1 {
	background-image: url('https://www.ahmed-perfume.com/assets/images/home/demo8/avif/multiple-products-banner.avif');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px 0 40px;
    position: relative;

}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .section-1 {
    background-image: url('https://www.ahmed-perfume.com/assets/images/home/demo8/avif/multiple-products-banner.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
  }
}

@media (max-width: 576px) {
	.custom-text {
		font-style: italic;
		bottom: -20rem;
	}
}

.section-2 {
	background-image: url('https://www.ahmed-perfume.com/assets/images/home/demo8/avif/collection-bnr.avif');
	background-size: cover;
	background-repeat: no-repeat;
}

.section-3 {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.scroll-section .section-3 a {
	top: 10%;
	color: #C58B14;
}

.section-4 {
	background-image: url('/assets/images/home/demo8/avif/giftset-bnr.avif');
	background-size: cover;
	background-repeat: no-repeat;
}
  
.section-6 {
	background-image: url('/assets/images/home/demo8/avif/dakhoon-bnr.avif');
	background-size: cover;
	background-repeat: no-repeat;
}

.best-sellers {
	/* width: 100vw;
	height: 100%; */
	display: flex;
	justify-content: center;
	align-items: center;
}

.section-content {
	padding: 0 16px;
}

.section-paragraph {
	margin-top: 20px;
}

@media (min-width: 1024px)  {
	.section-paragraph {
		padding: 0 10%;
	}
}


.slideshow-bg__img {
	width: 100%;
	object-fit: cover; 
	object-position: center; 
}
  
.slideshow-text {
	font-style: italic;
}

@media (max-width: 576px) {
	.slide-custom-text {
		font-style: italic;
		bottom: -20rem;
	}
}
    
.top-35 {
	top: 35%;
	}

@media (max-width: 576px) {
	.top-25 {
		top: 25%;
	}
}

.bottom-30 {
	bottom: 30%;
}

@media (max-width: 576px) {
	.bottom-30 {
		bottom: 30%;
	}
}

.t-subtitle {
	border-top: 2px solid;
    border-bottom: 2px solid;
    padding: .3125rem 0;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 16px;
  }

.bottom-scroll {
	display: flex;
    align-items: center;
    flex-direction: column;
    bottom: 0;
    left: auto;
    position: absolute;
    margin-bottom: 3%;

}

@media screen and (min-width: 320px) and (max-width: 1024px) {
	.bottom-scroll {
		display: flex;
		align-items: center;
		flex-direction: column;
		bottom: 0;
		left: auto;
		position: absolute;
		margin-bottom: 15%;
	}
}

.scroll-icon {
	animation: animationTopToBottom 4s infinite;
}
  
@keyframes animationTopToBottom {
0% {
	transform: translateY(0);
}
50% {
	transform: translateY(-8px);
}
60% {
	transform: translateY(-8px);
}
100% {
	transform: translateY(0);
}
}

  

  

  